div.image-display {
    background-color: #EBEBEB;
    height: 80vh;
    margin: 0;
}
div.authorInfo{
    margin-top: 5vh;
    margin-left: 5vh;
    padding-right: 5vh;
    float:left;
}
img.authorImg{
    width: 25vw;
    height: 25vw;
    filter: grayscale(80%);
}
div.picInfo{
    padding: 5vh;
}