div.image-display {
    background-color: #EBEBEB;
    box-shadow: inset 1px 10px 10px -2px rgba(0,0,0,0.6);
    height: 80vh;
    margin: 0;
}
div.authorInfo{
    margin-top: 5vh;
    margin-left: 5vh;
    padding-right: 5vh;
    float:left;
}
img.authorImg{
    width: 22vw;
    height: auto;
    max-height: 32.5vw;
    filter: grayscale(80%);
}
div.picInfo{
    padding: 5vh;
}